---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SearchBar from '../components/SearchBar.astro';
import TreeVisualization from '../components/TreeVisualization.astro';
import Footer from '../components/Footer.astro';
import EquipoScrum from '../components/EquipoScrum.astro';
import MisionVision from '../components/MisionVision.astro';
---

<Layout>
	<Header />
	<SearchBar />
	<p style="text-align: center; margin: 20px 0;">Haz clic en los nodos para expandir/contraer · Los enlaces externos se abren en nueva pestaña.</p>
	<TreeVisualization />
	<MisionVision />
    <EquipoScrum />
	<Footer />
</Layout>
