<section>
    <div>   
        <h2>Este Proyecto está diseñado para guiar a los futuros profesionales tecnológicos</h2>
    </div>
    <div>
        <h3>Nuestra Misión</h3>
        <img src="/tecno-student.jpg" alt="Tecno Student">
        <p>"Simplificar el camino de aprendizaje para los futuros profesionales tecnológicos. En un mar de tutoriales y recursos infinitos, Skiltree nace para curar, organizar y estructurar el mejor contenido gratuito en español. Nuestra misión es que nadie deje de aprender programación o diseño por no saber por dónde empezar."</p>
    </div>
    <div>
        <h3>Nuestra Visión</h3>
        <img src="/tecno-map.jpg" alt="Tecno Map">
        <p>"Convertirnos en el mapa de referencia para la comunidad tech hispanohablante. Aspiramos a ser la herramienta donde cualquier persona, sin importar su nivel económico o conocimientos previos, pueda trazar su propia ruta de aprendizaje y transformar su carrera profesional de manera guiada y eficiente."</p>
    </div>
</section>